:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --secondary-light-color: #F5F4FA;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: white;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

button {
  cursor: pointer;
}

.subscription__button, .join__link, .modal__field-polisy, .modal__close-icon, .modal__close-button, .client-list__link, .social-team__link, .work-list__cont, .feature-list__icon, .contact-nav__contact, .main-nav {
  display: flex;
  align-items: center;
}

header {
  border-bottom: 1px solid #ECECEC;
}

nav {
  display: flex;
}

.site-nav {
  display: flex;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
}

.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav__link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link {
  color: var(--title-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav__item + .contact-nav__item {
  margin-left: 50px;
}

.contact-nav__contact {
  color: #757575;
  padding: 32px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-nav__contact:hover, .contact-nav__contact:focus {
  color: var(--accent-color);
}

.contact-nav__icon {
  fill: currentColor;
  margin-right: 10px;
  padding-top: 2px;
}

.main-nav__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
  margin-right: 93px;
}

.main-nav__accent {
  color: var(--accent-color);
}

.footer__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 20px;
}

.footer__accent {
  color: var(--accent-color);
}

.hero {
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  border-radius: 4px;
  color: white;
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  text-align: center;
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  color: white;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.secondary {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--secondary-light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.feature-list {
  display: flex;
}

.feature-list__item {
  width: 270px;
}

.feature-list__icon {
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-light-color);
}

.feature-list__item + .feature-list__item {
  margin-left: 30px;
}

.feature-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list__text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}

.work-list__item + .work-list__item {
  margin-left: 30px;
}

.work-list__item {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.work-list__cont {
  position: absolute;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background-color: var(--secondary-light-color);
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list__item + .team-list__item {
  margin-left: 30px;
}

.team-list__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.social {
  display: flex;
  padding: 0;
  margin: 0;
}

.social-team {
  padding-right: 32px;
  padding-left: 32px;
}

.social-team > li:not(:last-child) {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
}

.social-team__link {
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-team__link:hover, .social-team__link:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.social-team__icon {
  fill: currentColor;
}

.client {
  padding-bottom: 94px;
}

.client-list {
  display: flex;
}

.client-list .client-list__item:not(:last-child) {
  margin-right: 30px;
}

.client-list__link {
  color: #AFB1B8;
  justify-content: center;
  height: 90px;
  width: 170px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-list__icon {
  fill: currentColor;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-section button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.filter-section button:hover, .filter-section button:focus {
  color: white;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-section__item + .filter-section__item {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__grid {
  margin-right: 30px;
  margin-bottom: 30px;
  border-top: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__grid:hover, .portfolio-list__grid:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__grid:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list__grid:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-list img {
  margin-top: 0;
}

.portfolio-list__card-content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.portfolio-list__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__card-icon {
  position: relative;
  overflow: hidden;
}

.portfolio-list__card-desc {
  position: absolute;
  top: 0;
  padding: 63px 24px 63px 24px;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 149, 243, 0.9);
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__grid-link {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__grid-link:hover .portfolio-list__card-desc, .portfolio-list__grid-link:focus .portfolio-list__card-desc {
  transform: translateY(0px);
}

.grid-link img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

/* modal */
label {
  cursor: default;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  min-width: 400px;
  padding: 40px;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.modal__close-button {
  padding: 0;
  margin: 0;
  justify-content: center;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #fff;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

.modal__close-icon {
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 50px;
  width: 18px;
  height: 18px;
}

.modal__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
  margin-top: 0;
}

.modal__form-field:nth-child(-n+4) {
  margin-bottom: 28px;
}

.modal__form-field {
  display: block;
  position: relative;
}

.modal__form-input {
  width: 100%;
  height: 38px;
  display: block;
  background-color: #fff;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.modal__form-label {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: absolute;
  top: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-40px);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: inline-block;
  fill: currentColor;
  color: var(--title-text-color);
}

.modal__comment {
  margin-bottom: 20px;
  height: 120px;
}

.modal__form-label {
  position: absolute;
  top: 20px;
  left: 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  margin-right: 7px;
}

.modal__icon-checkbox {
  margin-right: 7px;
}

.modal__field-polisy.check {
  display: flex;
  justify-content: center;
}

.modal__icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__icon-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal__checkbox-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal__field-polisy {
  margin-bottom: 30px;
}

.modal__checkbox-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal__form-field:focus-within > .modal__form-icon {
  fill: var(--accent-color);
}

.backdrop textarea {
  padding: 10px 20px;
  padding-left: 16px;
  font: inherit;
  position: relative;
  width: 100%;
  height: 120px;
  resize: none;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.backdrop textarea:focus {
  border: 1px solid var(--accent-color);
}

.modal__button-submit {
  display: flex;
  justify-content: center;
}

.backdrop .button {
  border: none;
  box-shadow: 0px 4px 4px rgba 0, 0, 0, 0.15;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
}

address {
  font-style: normal;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__adress {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1200px;
}

.footer__actual-address {
  color: white;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer__contact-list .footer__item + .footer__item {
  margin-top: 9px;
}

.footer__contact-list a {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-list a:hover, .footer__contact-list a:focus {
  color: var(--accent-color);
}

.join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.join {
  margin-left: 70px;
}

.join__icon {
  fill: currentColor;
}

.join__link {
  justify-content: center;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  width: 44px;
  height: 44px;
  color: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.join__item:not(:last-child) {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
}

.subscription {
  width: 570px;
}

.subscription__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.subscription__join-in {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscription__mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 12px;
  color: var(--primary-text-color);
}

.subscription__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 50px;
  justify-content: left;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  overflow: hidden;
  border: 0em;
}

.subscription__icon {
  position: absolute;
  right: 18px;
  margin-left: 10px;
  top: 50%;
  transform: translatey(-50%);
}/*# sourceMappingURL=main.css.map */