@import "./utils/variables";
@import "./base/reset";
@import "./utils/placeholders";

@import "./components/page-header";
@import "./components/logo";
@import "./components/hero";
@import "./components/button";
@import "./components/features";
@import "./components/work";
@import "./components/team";
@import "./components/client";
@import "./components/portfolio";
@import "./components/modal";
@import "./components/footer";

