.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-section button {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;

    &:hover,
    &:focus {
        color: white;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.filter-section{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-section__item + .filter-section__item {
    margin-left: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list__grid {
    margin-right: 30px;
    margin-bottom: 30px;
    border-top: none;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-list__grid:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list__grid:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-list img {
    margin-top: 0;
}

.portfolio-list__card-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.portfolio-list__title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
   }

.portfolio-list__card-icon {
    position: relative;
    overflow: hidden;
}

.portfolio-list__card-desc {
    position: absolute;
    top: 0;
    padding: 63px 24px 63px 24px;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 149, 243, 0.9);
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__grid-link {
    text-decoration: none;
    color: var(--primary-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .portfolio-list__card-desc,
    &:focus .portfolio-list__card-desc {
        transform: translateY(0px);
    }
}

.grid-link img {
    display: block;
    max-width: 100%;
    height: auto
}
