.work {
    padding-bottom: 94px;
}

.work-list {
    display: flex;
}

.work-list__item + .work-list__item {
    margin-left: 30px;
}

.work-list__item {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.work-list__cont {
    position: absolute;

    @extend %align-list;
    justify-content: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    
}

.work-list__text {
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}