:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-light-color: #F5F4FA;
}

$Primary-font: Roboto, sans-serif;
$Secondary-font: Raleway, sans-serif;;
